* , body, html {
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
  user-select: none;
}
body{
  background: #8d8d8d;
}

*{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Fira Sans', sans-serif;
}