* , body, html {
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
  user-select: none;
}
body{
  /* background: #14ac9c; */
}

*{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Fira Sans', sans-serif;
}

.home-svg{
  fill: #14ac9c;
  transform: rotate(360deg);
  z-index: -1;
  position: absolute;
  width: 300%;
  height: 210px;
}

@media screen and (max-width: 768px){
  .home-svg{
    /* display: none; */
    z-index: unset;
    bottom: -40px;
    background: #fff;

  }
}

